# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Env files / secrets
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/

# Python tooling
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/
